name: Create release

on:
  push:
    tags:
    - 'v*.*.*'

jobs:

  pre:
    runs-on: ubuntu-18.04
    outputs:
      version: ${{ steps.get_variables.outputs.version }}
      artifact_name: ${{ steps.get_variables.outputs.artifact_name }}
    steps:
      - id: get_variables
        run: |
          echo ::set-output name=artifact_name::${GITHUB_REPOSITORY##*/}
          echo ::set-output name=version::${GITHUB_REF##*/}
 
  build-and-publish:
    name: Build and publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: [pre]
    strategy:
      matrix:
        include:
          - os: ubuntu-18.04
            pack: tar czf ${{ needs.pre.outputs.artifact_name }}-${{ needs.pre.outputs.version }}-linux.tar.gz target/release/${{ needs.pre.outputs.artifact_name }}
            asset_name: ${{ needs.pre.outputs.artifact_name }}-${{ needs.pre.outputs.version }}-linux.tar.gz
            asset_content_type: application/gzip
          - os: windows-2019
            pack: Compress-Archive -DestinationPath ${{ needs.pre.outputs.artifact_name }}-${{ needs.pre.outputs.version }}-windows.zip -Path target\release\${{ needs.pre.outputs.artifact_name }}.exe
            asset_name: ${{ needs.pre.outputs.artifact_name }}-${{ needs.pre.outputs.version }}-windows.zip
            asset_content_type: application/zip
          - os: macos-10.15
            pack: tar czf ${{ needs.pre.outputs.artifact_name }}-${{ needs.pre.outputs.version }}-macos.tar.gz target/release/${{ needs.pre.outputs.artifact_name }}
            asset_name: ${{ needs.pre.outputs.artifact_name }}-${{ needs.pre.outputs.version }}-macos.tar.gz
            asset_content_type: application/gzip
    steps:
    - uses: actions/checkout@v2
    - name: Build
      uses: juankaram/rust-musl-action@master
      if: matrix.os == 'ubuntu-18.04'
      with: 
        args: cargo build --release --locked --target x86_64-unknown-linux-musl
    - name: Build
      if: matrix.os != 'ubuntu-18.04'
      run: cargo build --release --locked
    - name: Pack
      run: ${{ matrix.pack }}
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: ${{ matrix.asset_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}